html {
    width: 100%;
    height: 100%;
    -ms-touch-action: manipulation; /* remove 300ms delay */
    touch-action: manipulation;     /* remove 300ms delay */
    -webkit-text-size-adjust: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body.modal-open {
    position: fixed;
}

form div {
    margin-left: 15px;
    margin-right: 15px;
}
button {
    border: 0;
}
.content {
    display: none;
}
[content] {
    display: none;
}
.mobile-only {
    display: block;
}
.desktop-only {
    display: none;
}
.hidden {
    display: none;
}
a {
    color: #324a7a;
}
.link {
    color: #4174B8;
 }
.buttonLink {
    color: #4174B8;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
}
.underline {
    text-decoration: underline;
}
.small-text {
    font-size: 11px;
}
.italic {
    font-style: italic;
}
.no-decorate {
    text-decoration: none;
}
.top-spacing {
    top: 200px;
}
.enhanced {
    color: #00f;
    font-weight: bold;
    text-decoration: none;
}
input {
    color: #555;
    height: 26px;
    border: 1px solid #999;
    font-weight: light;
    font-size: 16px;
    padding-left: 5px;
}
input[type=number]{
    -webkit-text-security: disc;
}
input[type=number].no-secure {
    -webkit-text-security: none;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
.spaced {
    margin-left: 30px;
}
.main-title {
    /* color: #8ca550; */
    font-weight: bold;
    font-size: 16px !important;
}
.main-title.spaced {
    margin: 30px 0 20px 15px;
}
.main-title span {
    font-weight: bold;
    font-size: 16px;
}
.spanish-link {
    position: absolute;
    top: 50px;
    right: 5px;
    z-index: 900;
}

.failure {
    color: #d4002f;
}

.subtitle {
    font-weight: bold;
}
.input-title {
    color: #444;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 5px;
    position: relative;
}



.input-title.accountNumber {
    width: 95%;
}

.data-error {background-color: #f66; color: #fff;}

.spacer-micro {
    height: 8px;
}
.spacer-small {
    height: 15px;
}
.spacer {
    height: 25px;
}
.spacer-large {
    height: 40px;
}
.spacer-xlarge {
    height: 60px;
}



.padding {
    padding-left: 15px;
}

.padding-large {
    padding-left: 30px;
}

*[disabled] {
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)"; /*ie8*/
}

#languageSwitch {
    position: absolute;
    top: 50px;
    right: 5px;
}


input: focus,
select: focus,
textarea: focus,
button: focus {
    outline: none;
}

.align-children * {
    float: left;
}

.align-children *:last-child {
    clear: right;
}

.input-container {
    position: relative;
}

.input-container label {
    position: relative;
}

.input-container label span {
    position: absolute;
    top: -5px;
    left: 22px;
    color: #444;
}

.highlighted-container {
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 0;
    margin-right: 0;
}

.highlighted-container .input-title {
    margin-left: 0;
}

#altUsernames {
    display: none;
    padding-top: 10px;
    margin-left: 0;
    font-size: 13px;
}

#altUsernames label{
    line-height: 15px;
    position: relative;
}

#altUsernames span{
    line-height: 5px;
    vertical-align: 5px;
    color: #666;
}

.info-icon {
    font-size: 24px;
    color: #324a7a;
    top: 4px;
    margin-left: 3px;
    cursor: pointer;
    position: relative;
}

.descriptor {
    margin-left: 15px;
}

#main {
    height: auto !important;
    margin: 0 auto 15px;
}

.small-text {
    font-size: 11px;
}

.spellout{
    speak: spell-out;
    speak-as: spell-out;
}
.nospell {
    speak: none;
    speak-as: none;
}

.center-text {
    text-align: center;
}

.right-text {
  text-align: right;
}

img.help {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

img.help.absolute {
    position: relative;
    top: 5px;
    margin-left: 0px;
}

button.link {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: inherit;
    background: transparent;
    font-size: inherit;
    cursor: pointer;
}

button.link.image {
    height: 20px;
}

button.icon {
    background: transparent;
}

#enrol-text {
    color:black;
}

.checkbox-element {
    position: absolute;
    top: -5px;
    left: -1px;
    z-index: -1;
    width: 1;
    height: 1;
    overflow:hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*ie8*/;
    filter: alpha(opacity=0);
}

.next-steps-blurb {
    background-color: #eee;
    padding: 5px;
    border: 1px solid #ccc;
}

.iframe-replacement {
    display: none;
}

.top-mod {
    top:0px;
}


/* ****** ERROR ***************************************** */
/* ****************************************************** */

[error] {
    color: #d4002f;
    display: none;
}

input[error], select[error] {
    border: 1px solid red;
    color: #3b3939; /* Fix for ADA Contrast  */
    position: relative;
}

img[error], img[errorFor] {
    float: left;
    margin-right: 5px;
    position: relative;
    top: 10px;
}
img[errorFor=expiration], img[errorFor=email], img[errorFor=pin], img[errorFor=confirmPassword], img[errorFor=ccNumber], img[errorFor=confirmEmail]{
    top: 0;
}

@media only screen
and (max-device-width : 320px) {
    img[errorFor=accountNumber].errorImgShown {
        top: 0;
    }
}

#errorMain img{
    margin-right: 5px;
}
#errorMain div {
    margin-left: 0;
}
#errorMain span {
    color: #d4002f;
}

.error-image {
    content: url();
    float: left;
    margin-right: 5px;
    margin-left: 0;
}

.lbltext {
    position: absolute;
    left: 38px;
}

.ajax-wait {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 100000;
    display: none;
}

.ajax-wait img {
    width: 80px;
    height: 80px;
    position: absolute;
    margin: -40px 0 0 -40px;
    top: 50%;
    left: 50%
}

/* ****************************************************** */
/* ****************************************************** */








/* ****** CONTINUE BUTTON ******************************* */
/* ****************************************************** */

.continue, .close, .agree {
    background-color: #AD1D23;
    background: #AD1D23;
    position: absolute;
    right: 0;
    border: 0;
    font-weight: normal;
}
.continue:not(.nohover):hover, .close:not(.nohover):hover, .agree:not(.nohover):hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3064a8), color-stop(1, #6695cc) );
    background: -moz-linear-gradient( center top, #3064a8 5%, #6695cc 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3064a8', endColorstr='#6695cc');
    background-color: #3064a8;
    cursor: pointer;
}


#close {
  right: 10%;
}

/* ****************************************************** */
/* ****************************************************** */








/* ****** BUTTON **************************************** */
/* ****************************************************** */

.button {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-appearance: none;
    border-bottom-left-radius: 3px;
    text-indent: 0;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    height: 40px;
    line-height: 35px;
    width: 124px;
    text-decoration: none;
    text-align: center;
}

.blue-button {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-appearance: none;
    text-indent: 0;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    height: 40px;
    line-height: 35px;
    width: 124px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    background-color: #AD1D23;
    background: #AD1D23;

}

.gray-button {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-appearance: none;
    text-indent: 0;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    height: 40px;
    line-height: 35px;
    width: 124px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    background-color: #afafaf;
    background: #afafaf;
}

.button-disabled {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /*ie8*/
}

/* ****************************************************** */
/* ****************************************************** */








/* ****** RESEND BUTTON ********************************* */
/* ****************************************************** */

.resend, .cancel {
    line-height: 40px;
    background-color: #afafaf;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #afafaf), color-stop(1, #afafaf) );
    background: -moz-linear-gradient( center top, #afafaf 5%, #afafaf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afafaf', endColorstr='#afafaf');
    position: absolute;

}
.resend:not(.nohover):hover, .cancel:not(.nohover):hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #afafaf), color-stop(1, #afafaf) );
    background: -moz-linear-gradient( center top, #afafaf 5%, #afafaf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afafaf', endColorstr='#afafaf');
    background-color: #afafaf;
    cursor: pointer;
}

.resend {
    left: 0;
}

#clear {
  right: 150px;
}




/* ****************************************************** */
/* ****************************************************** */


#ie-adjust {
    top: -5px;
}





/* ****** CONTAINERS ************************************ */
/* ****************************************************** */



.indict_button-container {
    position: relative;
    margin-top: 5px;
    padding-top: 10px;
    text-align: right;
    border-top: 2px solid #ccc\0/;
    top: 50px\0/;
}



.continue-container, .close-container {
    margin-top: 25px;
    position: relative;
    height: 50px;
    left: 0;
    right: 0;
}

[agreements] .container {
    position: fixed;
    height: 55px;
    background-color: #fff;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #000;
    margin: 0;
    bottom: 0;
    z-index: 10;
}

[agreements] .container.silk {
    position: absolute;
    height: 110px;
    width: 100%;
    border-top: 1px solid #000;
    bottom: 65px;
    z-index: 10;
}

[agreements] .container.silk-oaa {
    position: absolute;
    height: 110px;
    width: 100%;
    border-top: 1px solid #000;
    bottom: 60px;
    z-index: 10;
}

[agreements] iframe {
    margin-left: 10px;
    width: 100%;
}
[agreements] [oaa] {
    border-bottom: none;
}
[agreements] .email {
    bottom: 0;
    text-align: center;
    line-height: 40px;
}

[agreements] .actions .cancel {
    /* left: 15px; */
    right: 150px;
}

[agreements] .actions .agree {
    right: 15px;
}

[agreements] #main {
    overflow: auto;
}


[agreements] #main .main-content h3 {
    margin-left: 0;
    padding-top: 55px;
}

/* ****************************************************** */
/* ****************************************************** */








/* ****** HEADER **************************************** */
/* ****************************************************** */

#header {
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#header .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
#header .background {
    width: 100%;
    height: 100%;
    background-color: #ae1e23;
}
#header .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    color: #fff;
    speak: normal;
    z-index: 1;
    height: 45px;
    width: 45px;
}
#header .icon img {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 9px;
    top: 7px;
}
#header .title {
    position: absolute;
    margin: 0 auto;
    top: 12px;
    width: 100%;
    text-align: center;
    color: #fcc710;
    font-weight: bold;
    font-size: 19px;
    padding-top: 3px;
}
#header #brand {
    display: none;
}
#header #headerTools {
    display: none;
}
#header .title img {
    width: 175px;
}

/* ****************************************************** */
/* ****************************************************** */








/* ****** KEYPAD **************************************** */
/* ****************************************************** */

#keypad {
    width: 175px;
    height: 180px;
    border: 1px solid #eee;
    position: relative;
    margin: 0 auto;
    padding-right : 8px; /* ATM PIN keypad center aligned within the box. */
}
#keypad td {
    position: relative;
    cursor: pointer;
}
#keypad td .container {
    border: 1px solid #666;
    border-radius: 7px;
    height: 35px;
    margin: 2px 3px 2px 3px;
    position: relative;
    box-shadow: 2px 2px 2px #888888;
    width: 100%;
}
#keypad td .container div {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
}
#keypad td .container div:first-child, #keypad td .container input:first-child {
    font-size: 14px;
    font-weight: bold;
    bottom: 3px;
    right: 3px;
    speak: spell-out;
}
#keypad td .container div:last-child {
    font-size: 13px;
    font-weight: normal;
    top: 3px;
    left: 3px;
    speak: spell-out;
}
#keypad * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ****************************************************** */
/* ****************************************************** */








/* ****** MODAL ***************************************** */
/* ****************************************************** */

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.modal .shadow {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*ie8*/
    position: absolute;
    z-index: 1;
}
.modalContent {
    display: table;
    margin: 0 auto;
    z-index: 2;
    border: 3px solid #555;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: #666;
    display: none;
}
.modalContent .title {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.modalContent .overflow {
    overflow: auto;
}
.modalClose {
    border-radius: 15px;
    padding-top: 0;
    width: 28px;
    height: 30px;
    top: 20px;
    right: 5px;
    border: 2px solid #fff;
    background-color: #324a7a;
    position: fixed;
    z-index: 3;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 6px;
    z-index: 1000000;
}
.modalClose:focus {
    outline: 1;
}
.modalLoader {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 4;
}

.modalContent .choice-row {
    position: relative;
    padding: 15px;
}
.modalContent .row-highlight {
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.modalContent .modal-actions {
    width: 100%;
    position: relative;
    height: 45px;
}

.modal-actions form {
    text-align: center;
}

.modalContent .modal-left {
    position: absolute;
    left: 15px;
    top: 0;
}
.modalContent .modal-right {
    position: absolute;
    right: 15px;
    top: 0;
}

/* ****************************************************** */
/* ****************************************************** */








/* ****** CHECKBOX ************************************** */
/* ****************************************************** */

.checkbox {
    margin-left: -15px;
    margin-top: 10px;
    position: relative;
}

.checkbox .box {
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    background-color: #fff;
    float: left;
    margin-right: 5px;
    position: relative;
    z-index: 1;
}

.checkbox label {
    position: absolute;
    top: 0;
}

.checkbox button.underline label {
    text-decoration: underline;
    cursor: pointer;
}

.checkbox .icon {
    position: absolute;
    top: 1px;
    left: 1px;
    display: none;
    margin-left: 0;
    margin-right: 0;
}

/* ****************************************************** */
/* ****************************************************** */








/* ****** LOGOS ***************************************** */
/* ****************************************************** */

[enrollmentComplete] [ios_download] {
    width: 100px;
}

[enrollmentComplete] [android_download] {

}

[enrollmentComplete] [logos] {
    text-align: left;
}

[enrollmentComplete] [logos] img {
    margin-left: -15px;
    margin-top: -10px;
    display: inline-block;
}

/* ****************************************************** */
/* ****************************************************** */








/* ****** FOOTER **************************************** */
/* ****************************************************** */
#footer .wrapper {
    display: none;
}

#footer[complete] {
    background: url() no-repeat scroll right top #FFF;
    margin: 0 0 0 0;
    padding: 70px 0 0 0;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    /*z-index: -1;*/
    right: 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}

#footer[complete] p {
    clear: both;
    display: block;
    text-align: center;
}

#footer[complete] .wrapper {
    display: block;
}
.padding {
    height: 100%;
}

#footer[complete], [push] {
    height: 100px;
}
/* ****************************************************** */
/* ****************************************************** */








/* ****** ACCESSIBILITY ********************************* */
/* ****************************************************** */

[accessibility][hidden] {
    display: none;
}

/* ****************************************************** */
/* ****************************************************** */




.mod {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 900;
    display: none;
    width: 100%;
    height: 100%;
    display: none;
}

.mod [shadow] {
    background-color: #000;
    position: absolute;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*ie8*/
    z-index: 901;
    width: 100%;
    height: 100%;
}


.mod [content] {
    position: fixed;
    top: 30px;
    left: 15px;
    right: 15px;
    background-color: #fff;
    border: 3px solid #555;
    z-index: 902;
    border-radius: 10px;
    padding: 10px;
    height: 60%;
}

.mod [content] .title{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.mod [content] .overflow {
    position: fixed;
    top: 33px;
    left: 25px;
    right: 25px;
    height: 60%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 5px;
}


.mod [loader] {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 902;
    top: 45px;
    display: none;
}

.mod [loader] img {
    width: 50px;
    height: 50px;
}

.min-top-margin {
    margin-top: 10px;
}



/* ****** MOBILE ONLY *********************************** */
/* ****************************************************** */

@media (max-width: 767px) {

    /* ****** MAIN ****************************************** */
    /* ****************************************************** */

    #main {
    }

    iframe {
        width: 100%;
    }


    .lbltext {
        position: absolute;
    }

    .nav-slide {
        position: auto;
    }

    [agreements] .container {
        height: 70px;
    }

       .spanish-link {
        top: 110px;
    }

    #body[theme="ssep"] .main-title.spaced.blk-header, .main-title.spaced.blk-header {
        margin: 0;
        padding-top: 40px;
        color: #fff;
        text-align: center;
        position: relative;
        top: -35px;
        /*z-index: -1;*/
        padding-bottom: 15px;
        font-family: Verdana;
        font-size: 14px;
        /*background-color: #000;*/
        margin-top: 15px;
        font-weight: lighter;
        letter-spacing: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }
}



/* ****** DESKTOP *************************************** */
/* ****************************************************** */

@media (min-width: 768px) {
    body * {
        font-family: Arial !important;
        font-size: 13px;
    }

    body img {
        border: 0;
    }

    input[type=radio] {
        border: 0; /* ie8 fix */
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    /* ****** HEADER **************************************** */
    /* ****************************************************** */

    #header {
        position: relative;
        height: 110px;
        border-bottom-color: #dfdfdf;
        border-bottom-style: solid;
    }
    #header a {
        text-decoration: none;
        color: #666;
    }
    #header .wrapper {
        max-width: 970px;
        position: relative;
        margin: 0 auto;
        height: 115px;
    }
    #header .background {
        background-color: transparent;
    }
    #header #brand {
        position: absolute;
        top: 32px;
        left: 10px;
        display: block;
    }
    #header .title {
        display: none;
    }
    #header #headerTools {
        position: absolute;
        top: 77px;
        right: 10px;
        bottom: 16px;
        width: 300px;
    }
    #header #headerTools {
        position: absolute;
        top: 77px;
        right: 0;
        bottom: 16px;
        display: block;
    }
    #header #headerTools ul {
        list-style: none;
        list-style-image: none;
        padding: 0 0 0 10px;
        margin: 0 0 20px 10px;
        text-align: right;
    }
    #header #headerTools ul li {
        list-style-type: none;
        display: inline;
        padding: 0 5px;
        margin: 0 auto .5em auto;
        line-height: 1.4em;
    }

    /* ****** MAIN ****************************************** */
    /* ****************************************************** */

    #main {
        max-width: 970px;
    }

    /* ****** FOOTER **************************************** */
    /* ****************************************************** */

    #footer {
        height: 120px;
    }

    #footer .wrapper {
        display: block;
        max-width: 970px;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
    }

    #footer .wrapper a {
        text-decoration: none;
        color: #4174B8;
    }

    #footer .wrapper .legal {
        position: absolute;
        top: 50px;
    }

    /* ****** MODAL ***************************************** */
    /* ****************************************************** */

    .mod [content]{
        max-width: 800px;
        max-height: 500px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border: 3px solid #555;
        z-index: 902;
        border-radius: 10px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .mod [content] .overflow {
        position: relative;
        left: 10px;
        color: #666;
        top: 0;
        height: 100%;
        margin-right: 20px;
    }

    .mod [shadow] {
        opacity: 0.60;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*ie8*/

    }

    .modalClose {
        width: 25px;
        height: 25px;
        top: -10px;
        right: -10px;
        position: absolute;
        font-size: 17px;
        line-height: 22px;
        padding-left: 5px;
    }

    .mod .modal-actions {
        position: absolute;
        bottom: 20px;
        right: 50px;
        border-top: 2px solid #E0DFDF;
        width: 100%;
        text-align: right;
        padding-top: 20px;
    }





    /* ****** MISC ****************************************** */
    /* ****************************************************** */

    .spacer-xlarge {
        height: 30px;
    }

    #languageSwitch {
        top: 130px;
        right: 0;
    }

    .next-steps-blurb {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    
    div#langPreference {
    	display: block;
    }

/* ******Display or Hide  OAA/Esign Content depending on the page********  */
    .hideContent {
        display : none;
    }

    .showContent {
        display: inline-block;
    }


    #shell {
        /*background-image: -webkit-linear-gradient(top,#fff 117px,#f2f2f1 114px,#fff 145px);*/
    }


/* ****************************************************** */
/* ****************************************************** */
}
